<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Application applicationName="{{moduleName}}" comment="{{projectDescription}}" factoryVersion="{{xynaFactoryVersion}}" versionName="{{projectVersion}}" xmlVersion="1.1">
  <ApplicationInfo>
    <RuntimeContextRequirements>
      <RuntimeContextRequirement>
        <ApplicationName>OpenAPI</ApplicationName>
        <VersionName>{{xynaOpenAPIVersion}}</VersionName>
      </RuntimeContextRequirement>
    </RuntimeContextRequirements>
  </ApplicationInfo>
  <Ordertypes>
  </Ordertypes>
  <SharedLibs>
  </SharedLibs>
  <XMOMEntries>
    {{#models}}{{#model}}<XMOMEntry implicitDependency="false">
      <FqName>{{#invokerPackage}}{{invokerPackage}}.{{/invokerPackage}}{{#modelPackage}}{{modelPackage}}.{{/modelPackage}}{{#moduleName}}{{moduleName}}.{{/moduleName}}{{classname}}</FqName>
      <Type>DATATYPE</Type>
    </XMOMEntry>{{/model}}{{/models}}
  </XMOMEntries>
</Application>