 <DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod"
 Version="1.8"
 TypeName="{{classname}}"
 TypePath="{{#invokerPackage}}{{invokerPackage}}{{/invokerPackage}}{{#modelPackage}}.{{modelPackage}}{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"
 Label="{{name}}"
 IsAbstract="false"
 {{#vendorExtensions.x-isOpenAPIBaseType}}BaseTypeName="OpenAPIBaseType" BaseTypePath="xfmg.openapi.base"{{/vendorExtensions.x-isOpenAPIBaseType}}{{^vendorExtensions.x-isOpenAPIBaseType}}
 {{#dataType}}BaseTypeName="{{dataType}}" BaseTypePath="{{#invokerPackage}}{{invokerPackage}}{{/invokerPackage}}{{#modelPackage}}.{{modelPackage}}.{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"{{/dataType}}
 {{/vendorExtensions.x-isOpenAPIBaseType}}>
  <Meta>
    <IsServiceGroupOnly>false</IsServiceGroupOnly>
    {{#description}}<Documentation>{{description}}</Documentation>{{/description}}
  </Meta>
{{#vars}}
  <Data
   Label="{{baseName}}" VariableName="{{name}}" {{#isListContainer}}IsList="true"{{/isListContainer}}
   {{^isPrimitiveType}}ReferenceName="{{complexType}}" ReferencePath="{{#invokerPackage}}{{invokerPackage}}{{/invokerPackage}}{{#modelPackage}}.{{modelPackage}}{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"{{/isPrimitiveType}}
   >
    <Meta>
      {{#isPrimitiveType}}<Type>{{^isFloat}}{{datatype}}{{/isFloat}}{{#isFloat}}Double{{/isFloat}}</Type>{{/isPrimitiveType}}
      <Documentation>{{#description}}{{description}} {{/description}}{{#isFloat}}Float but handled as Double, {{/isFloat}}requiered: {{required}}, nullable: {{nullable}}</Documentation>
    </Meta>
  </Data>
{{/vars}}
  <Service Label="{{classname}}" TypeName="{{classname}}">
    <Operation Label="validate" Name="validate" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data ID="75" Label="Validation Result" VariableName="validationResult" ReferenceName="ValidationResult" ReferencePath="xfmg.openapi.base"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">
        var results = new ValidationResult(true, ArrayList&lt;String&gt;());
        {{#vars}}

        // validate {{classname}}.{{name}} of type {{datatype}} with baseType {{baseType}}
          {{#isPrimitiveType}}
        try {
          var primObj_{{-index}} = (
            {{#isNumeric}}{{#isInteger}}new OpenAPINumberType&lt;Integer&gt;("{{classname}}.{{name}}", (Integer)get("{{name}}")){{/isInteger}}
            {{#isLong}}new OpenAPINumberType&lt;Long&gt;("{{classname}}.{{name}}", (Long)get("{{name}}")){{/isLong}}
            {{#isDouble}}new OpenAPINumberType&lt;Double&gt;("{{classname}}.{{name}}", (Double)get("{{name}}")){{/isDouble}}
            {{#isNumber}}new OpenAPINumberType&lt;Double&gt;("{{classname}}.{{name}}", (Double)get("{{name}}")){{/isNumber}}
            {{#isFloat}}new OpenAPINumberType&lt;Float&gt;("{{classname}}.{{name}}", ((Double)get("{{name}}")).floatValue()){{/isFloat}}{{/isNumeric}}{{^isNumeric}}
            {{#isString}}new OpenAPIStringType("{{classname}}.{{name}}", (String)get("{{name}}")){{/isString}}
            {{#isDateTime}}new OpenAPIDateTimeType("{{classname}}.{{name}}", (String)get("{{name}}")){{/isDateTime}}
            {{#isDate}}new OpenAPIDateType("{{classname}}.{{name}}", (String)get("{{name}}")){{/isDate}}{{/isNumeric}}
            )
            {{#isNumeric}}{{#exclusiveMinimum}}.setExcludeMin(){{/exclusiveMinimum}}{{#exclusiveMaximum}}.setExcludeMax(){{/exclusiveMaximum}}{{/isNumeric}}{{^isNumeric}}
            {{#isString}}{{#dataFormat}}.setFormat("{{dataFormat}}"){{/dataFormat}}{{/isString}}{{/isNumeric}}
            {{#required}}.setRequired(){{/required}}{{#nullable}}.setNullable(){{/nullable}}
              ;
          if (!primObj_{{-index}}.isValid()) {
             results.setIsValid(false);
             results.getValidationResult().add(primObj_{{-index}}.toString());
          }
        }
        catch (Excpeption e) {
          results.setIsValid(false);
          results.getValidationResult().add("error validating {{classname}}.{{name}}" + e.toString());
        }
          {{/isPrimitiveType}}{{^isPrimitiveType}}
        try {
          var cplxObj_{{-index}} = this.get("{{name}}");
          if (cplxObj_{{-index}} != null) {
          {{^isListContainer}}
            var cplxValidationResult_{{-index}} = (({{complexType}})cplxObj_{{-index}}).validate();
            if (!cplxValidationResult_{{-index}}.getIsValid()) {
                results.setIsValid(false);
                results.getValidationResult().addAll(cplxValidationResult_{{-index}}.getValidationResult());
            }
          {{/isListContainer}}
          {{#isListContainer}}
            var cplxObjList_{{-index}} = (List&lt;{{complexType}}&gt;)cplxObj_{{-index}};
            for (var l : cplxObjList_{{-index}}) {
                var lValidationResult = l.validate();
                if (!lValidationResult.getIsValid()) {
                    results.setIsValid(false);
                    results.getValidationResult().addAll(lValidationResult.getValidationResult());
                }
            }
          {{/isListContainer}}
          } else if ({{#requiered}}true{{/requiered}}{{^requiered}}false{{/requiered}} &amp;&amp; true) {
            results.setIsValid(false);
            results.getValidationResult().add("{{classname}}.{{name}} of type {{complexType}} is null but requiered");
          }
        }
        catch (Excpeption e) {
          results.setIsValid(false);
          results.getValidationResult().add("error validating {{classname}}.{{name}}" + e.toString());
        }
          {{/isPrimitiveType}}
        {{/vars}}

         return results;
        </CodeSnippet>
      </SourceCode>
    </Operation>
    <Operation Label="set defaults" Name="setDefaults" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data Label="OpenAPI Base Type" VariableName="openAPIBaseType" ReferenceName="OpenAPIBaseType" ReferencePath="xfmg.openapi.base"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">return this;</CodeSnippet>
     </SourceCode>
    </Operation>
  </Service>
</DataType>